[Unit]
Description=Balcone
After=network.target

[Service]
User=nobody
WorkingDirectory=/var/lib/balcone
ExecStart=/usr/local/bin/balcone -m '/var/lib/balcone/monetdb'
Restart=on-failure

[Install]
WantedBy=multi-user.target
