[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpagentparser = "*"
maxminddb-geolite2 = "*"
aiohttp = "*"
aiohttp-jinja2 = "*"
monetdblite = "*"
PyPika = "*"
simplejson = "*"
python-dateutil = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
pyinstaller = "*"
twine = "*"
build = "*"
