[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ballcone = {editable = true, path = "."}

[dev-packages]
ballcone = {editable = true, path = ".", extras = ["dev"]}
