[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpagentparser = "*"
maxminddb-geolite2 = "*"
aiohttp = "*"
aiohttp-jinja2 = "*"
monetdblite = "*"
PyPika = "*"
simplejson = "*"
python-dateutil = "*"
ballcone = {editable = true, path = "."}

[dev-packages]
mypy = "*"
typed-ast = "*"
typing_extensions = "*"
types-simplejson = "*"
types-python-dateutil = "*"
flake8 = "*"
pyinstaller = "*"
twine = "*"
build = "*"
