{% extends "layout.html" %}
{% block content %}
<div class="content">
    <h2 class="subtitle">nginx Configuration</h2>
    <form method="GET" action="{{ url('nginx') }}">
        <div class="field">
            <label class="label" for="service">Service</label>
            <div class="control">
                <input name="service" id="service" class="input" type="text" placeholder="example"
                       value="{{ service }}">
            </div>
        </div>
        <div class="field">
            <label class="label" for="ip">Ballcone IP</label>
            <div class="control">
                <input name="ip" id="ip" class="input" type="text" placeholder="127.0.0.1"
                       value="{{ ip }}">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link is-light" accesskey="e">Submit</button>
            </div>
        </div>
    </form>
</div>
{% if error %}
<div class="notification is-danger is-light">
    <ul>
        {% for message in error %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="field">
    <label class="label" for="configuration">Snippet for <code>nginx.conf</code></label>
    <div class="control">
        <textarea id="configuration" class="textarea is-family-monospace" rows="18" readonly>
# Put this before the `server` context
log_format ballcone_json_{{ service }} escape=json
    '{'
    '"service": "{{ service }}", '
    '"ip": "$remote_addr", '
    '"host": "$host", '
    '"path": "$request_uri", '
    '"status": "$status", '
    '"referrer": "$http_referer", '
    '"user_agent": "$http_user_agent", '
    '"length": $bytes_sent, '
    '"generation_time_milli": $request_time, '
    '"date": "$time_iso8601"'
    '}';

    # Put this inside the `server` context
    access_log syslog:server={% if ip_version == 6 %}[{% endif %}{{ ip }}{% if ip_version == 6 %}]{% endif %}:65140 ballcone_json_{{ service }};</textarea>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <a id="copy" class="button is-success is-light" accesskey="c">Copy</a>
    </div>
</div>
<script>
$('#copy').click(function(e) {
    var configuration = $('#configuration');
    configuration.select();
    document.execCommand('copy');
});
</script>
{% endif %}
{% endblock %}
