{% extends "layout.html" %}
{% block content %}
{% for column in dashboard | batch(2) %}
<div class="columns">
    {% for service, count in column %}
    <div class="column is-one-half">
        <div class="card">
            <div class="card-content">
                <p class="title"><a href="{{ url('service', service=service) }}">{{ service }}</a></p>
                <p class="subtitle">
                    {{ count }} unique visit{% if count != 1 %}s{% endif %} today
                </p>
                <div class="content">
                    <canvas id="unique_{{ service }}" style="height: 16em; width: 100%; display: block;"></canvas>
                    <script>
$(document).ready(function() {
    $.getJSON('{{ url('count', service=service, field='ip') }}',
    makeCallback(new Chart($('#unique_{{ service }}'), {
        type: 'bar',
        data: {
            datasets: [{
                label: '# of Unique IPs',
                borderWidth: 1
            }]
        }
    }), 'count'));
});
                    </script>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<div class="content">
    <p>If you see nothing, <a href="{{ url('nginx') }}">start configuring</a> your nginx.</p>
    <p>MonetDBLite consumed {{ size }} byte{% if size != 1 %}s{% endif %} of disk space.</p>
</div>
{% endblock %}
