{% extends "layout.html" %}
{% block content %}
<div class="content">
    <h2 class="subtitle">Overview</h2>
    <div class="columns is-desktop">
        <div class="column is-one-half">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Visits</th>
                    <th>Unique IPs</th>
                </tr>
                </thead>
                <tbody>
                {% for date, row in overview.items() %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ row['visits'] }}</td>
                    <td>{{ row['unique'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column is-one-half">
            <canvas id="unique" style="height: 20em; width: 100%; display: block;"></canvas>
        </div>
    </div>
    <h2 class="subtitle">Average Generation Time</h2>
    <div class="columns is-desktop">
        <div class="column is-one-half">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time (s)</th>
                </tr>
                </thead>
                <tbody>
                {% for element in time.elements %}
                <tr>
                    <td>{{ element.date }}</td>
                    <td>{{ element.avg | round(4) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column is-one-half">
            <canvas id="time" style="height: 20em; width: 100%; display: block;"></canvas>
        </div>
    </div>
    <h2 class="subtitle">Most Popular Paths</h2>
    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Date</th>
                <th>Path</th>
                <th>Visits</th>
            </tr>
            </thead>
            <tbody>
            {% for element in paths.elements %}
            <tr>
                <td>{{ element.date }}</td>
                <td>{{ element.group }}</td>
                <td>{{ element.count }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="subtitle">Most Popular Browsers</h2>
    <table class="table is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Date</th>
            <th>Browser</th>
            <th>Visits</th>
        </tr>
        </thead>
        <tbody>
        {% for element in browsers.elements %}
        <tr>
            <td>{{ element.date }}</td>
            <td>{{ element.group }}</td>
            <td>{{ element.count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $.getJSON('{{ url('count', service=current_service, field='ip') }}',
    makeCallback(new Chart($('#unique'), {
        type: 'bar',
        data: {
            datasets: [{
                label: '# of Unique IPs',
                borderWidth: 1
            }]
        }
    }), 'count'));
    $.getJSON('{{ url('average', service=current_service, field='generation_time') }}',
    makeCallback(new Chart($('#time'), {
        type: 'line',
        data: {
            datasets: [{
                label: 'Average Generation Time',
                borderWidth: 1
            }]
        }
    }), 'avg'));
});
</script>
{% endblock %}
