<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ballcone{% if title or current_service %}: {{ title or current_service }}{% endif %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
          integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="section">
                <h1 class="title">Ballcone</h1>
                <aside class="menu">
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a {% if current_page == 'root' %}class="is-active" {% endif %}
                            href="{{ url('root') }}">Dashboard</a></li>
                        <li><a {% if current_page == 'sql' %}class="is-active" {% endif %}
                            href="{{ url('sql') }}">SQL Console</a></li>
                    </ul>
                    {% if services %}
                    <p class="menu-label">Services</p>
                    <ul class="menu-list">
                        {% for service in services %}
                        <li><a {% if service == current_service %}class="is-active" {% endif %}
                               href="{{ url('service', service=service) }}">{{ service }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="menu-label">Configuration Templates</p>
                    <ul class="menu-list">
                        <li><a {% if current_page == 'nginx' %}class="is-active" {% endif %}
                            href="{{ url('nginx') }}">nginx</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="section">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script>{% include 'chart_callback.js' %}</script>

</body>
</html>
