name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install pipenv
          pipenv install --python "3.10" --dev --system --deploy
      - name: Lint with Mypy
        run: mypy ballcone tools
      - name: Lint with flake8
        run: flake8
      - name: Test with unittest
        run: python3 -m unittest discover
      - name: Build
        run: python3 -m build --sdist --wheel .
      - name: Build with PyInstaller
        run: |
          pyinstaller ballcone.spec
          dist/ballcone --version
  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Update Docker Hub description
        if: github.event_name != 'pull_request'
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: dustalov/ballcone
          short-description: ${{ github.event.repository.description }}
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Ballcone
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            dustalov/ballcone:latest
            ghcr.io/dustalov/ballcone:latest
      - name: Build and push Ballcone Demo
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.demo
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            dustalov/ballcone:demo
            ghcr.io/dustalov/ballcone:demo
